<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
   <connectionStrings>
      <add name="LyncConnectionString" connectionString="Provider=SQLOLEDB.1;Data Source=X.X.X.X;Persist Security Info=True;Password='password';User ID=username;Initial Catalog=dbname" />
   </connectionStrings>
  
</configuration>